@import "../vars";
@import "../templates";

.container {
  @extend %container;
}

.header {
  @extend %header;
}

.section__one {
  max-width: 1920px;
  margin: 0 auto;
  .section__one-container {
    display: flex;
    width: 80%;
    height: 464px;
    margin-left: 13%;
    margin-top: 4vh;
    box-shadow: 0px 2px 4px #1d5deb;
    border-radius: 12px;
    @media screen and (max-width: 768px) {
      display: block;
    }

    .section-one__info {
      width: 60%;
      margin-top: 4vh;
      margin-left: 2vw;
      font-family: $font_add;
      font-size: 36px;
      font-weight: 400;
      line-height: 57px;
      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 28px;
        text-align: center;
        margin-left: 0;
      }
      .section-one__counter {
        padding-top: 12vh;
        position: absolute;
        @media screen and (max-width: 768px) {
          padding-top: 38vh;
          padding-left: 9vw;
        }
        @media screen and (max-width: 320px) {
          margin-top: 0;
          padding-top: 30vh;
        }
      }
      #result {
        position: absolute;
        margin-left: 25vw;
        margin-top: 12vh;
        @media screen and (max-width: 1680px) {
          margin-left: 30vw;
        }
        @media screen and (max-width: 1280px) {
          padding-left: 20vw;
        }
        @media screen and (max-width: 768px) {
          padding-top: 26vh;
          padding-left: 40vw;
        }
        @media screen and (max-width: 320px) {
          margin-left: 65vw;
          margin-top: 17vh;
        }
      }
    }
  }
  .section-one__button {
    width: 40%;
    margin-top: 18vh;
    margin-left: 13vw;
    @media screen and (max-width: 1024px) {
      margin-left: 5vw;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 10vw;
    }
    @media screen and (max-width: 768px) {
      padding-left: 16vw;
    }
    @media screen and (max-width: 320px) {
      margin-left: 15vw;
    }
    .btn__counter {
      width: 281px;
      height: 76px;
      border-radius: 12px;
      border: none;
      background-color: #1d5deb;
      font-family: $font_main;
      font-size: 36px;
      font-weight: 700;
      line-height: 49px;
      text-align: center;
      color: white;
    }
  }
}
.section2 {
  margin: 0 13%;
  @extend %gallery;
  @media (max-width: 1024px) {
    margin: 0 5%;
  }
}

footer {
  @extend %footer;
}
