%footer {
  .footer-wraper {
    height: 310px;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 13% 1fr 1fr 1fr 13%;
    padding-top: 52px;
    .footer-logo {
      grid-column: 2/3;
      justify-self: left;
      max-width: 173px;
      height: 115px;
      display: flex;
      flex-direction: column;
    }
    .footer-contacts {
      justify-self: center;
      grid-column: 3/4;
      width: 181px;
      height: 49%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @extend %organizationfont;

      .footer-contacts__mail {
        text-decoration: none;
        color: black;
      }
      .footer-contacts__icons {
        display: flex;
        justify-content: space-between;
      }
    }
    .footer-organization {
      grid-column: 4/5;
      justify-self: end;
      width: 440px;
      text-align: end;
      @extend %organizationfont;
    }
  }
}

%organizationfont {
  font-family: $font_main;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.46px;
}
